@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid #e5e7eb;
}

:root {
  --tw-bg-opacity: 1;
}

body {
  font-family: ui-sans-serif, system-ui;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(117 118 147 / var(--tw-text-opacity));
  line-height: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ABOUTUS */
.aboutus .aboutus-content {
  background-image: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
}

/* JOIN */
.join .join-item {
  background-image: linear-gradient(to bottom, #e0e9ff, #f5f7ff);
}

/* ASK */
.ask h3:first-of-type span::before {
  content: "";
}

.formmassage .formmassagebg {
  background-image: linear-gradient(to bottom, #f6f8ff, #fefefe);
}

.phongto {
  transition: transform 0.5s ease;
  transform: scale(1);
}

.blogs .divphongto:hover .phongto {
  animation: scaleUp 0.5s forwards;
  transform: scale(1.1);
}

/* BACK TO TOP */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
