.movephai {
    transition: transform 0.5s ease;
    /* Chuyển đổi transform một cách mượt mà */
    display: inline-block;
    /* Đảm bảo phần tử có thể chuyển động */
}

.thea:hover .movephai {
    transform: translateX(10px);
    /* Dịch chuyển 10px sang phải khi hover */
}

/* Khi không hover, phần tử sẽ trở về vị trí ban đầu một cách mượt mà */
.thea .movephai {
    transform: translateX(0);
    /* Quay lại vị trí ban đầu */
}

.slick-dots li button {
    background: rgb(238 238 238);
    
    border-radius: 50%;
    /* Tạo hình tròn cho dấu chấm */
    width: 8px;
    /* Kích thước ban đầu của dấu chấm */
    height: 8px;
    /* Kích thước ban đầu của dấu chấm */
    transition: width 0.3s ease, height 0.3s ease;
    /* Hiệu ứng chuyển đổi */
}

.slick-dots li.slick-active button {
    background: rgb(0 107 255);
    /* Màu xanh dương đậm hơn khi hoạt động hoặc hover */
    width: 16px;
    /* Kích thước lớn hơn khi hoạt động hoặc hover */
    height: 10px;
    /* Kích thước lớn hơn khi hoạt động hoặc hover */
    border-radius: 30%;
}